node_modules
build
.idea
.DS_Store
raw/**/*.jpg
raw/**/*.jpeg
raw/**/*.png
raw/**/*.svg
!raw/**/README.md

package-lock.json
package.json

.gitattributes
.linthtmlrc
.stylelintrc

gulpfile.js
Readme.md
svgo.config.js
