@mixin font-face ($font-family, $font-weigh, $font-style, $src-font) {
  @font-face {
    font-family: $font-family;
    font-weight: $font-weigh;
    font-style: $font-style;
    src: $src-font;
    font-display: swap;
  }
}
