.additional__wrapper-title {
    margin-top: 25px;
    margin-bottom: 33px;
    transform: translateY(-10px);

    @media #{$tablet} {
        margin-bottom: 78px;
    }
}


.additional__title {
    font-family: $font-primary;
    font-size: 24px;
    font-weight: 400;
    font-style: normal;
    line-height: 24px;
    color: $black;

    @media #{$tablet} {
        font-size: 36px;
        line-height: 36px;
        margin-left: 0;
    }

    @media #{$desktop} {
        margin-left: -40px;
    }
}

.additional__title--decor {
    margin: 0 -20px;
    padding: 0 20px;
    width: max-content;
    font-size: 24x;
    background-color: $white;

    @media #{$tablet} {
        margin: 0 -40px;
        padding: 0 40px;
    }
}

@media #{$desktop} {
    .additional__inner {
        display: flex;
        justify-content: space-between;
    }
}

.additional__list {
    margin: 0;
    padding: 0;
    list-style: none;

    @media #{$desktop} {
        margin-right: 81px;
        margin-bottom: 87px;
    }
}

.additional__list-item {
    padding: 12px 0 0;
    border-top: 1px solid $grey;

    @media #{$tablet} {
        border: 1px solid $grey;
        border-bottom: none;
        padding: 26px 38px 17px;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        flex-wrap: wrap;
    }

    @media #{$desktop} {
        border-left: none;
        border-right: none;
        flex-wrap: nowrap;
        padding: 15px 0 17px;
        align-items: center;
    }
}

.additional__list-item:last-child {
    border-bottom: 1px solid $grey;
}

.additional__list-title {
    font-family: $font-primary;
    color: $text-color-secondary;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    line-height: 16px;
    text-transform: uppercase;
    margin: 0 auto;
    transform: translateY(-3px);

    @media #{$tablet} {
        font-size: 20px;
        line-height: 20px;
        margin: 0 0 25px;
        padding-right: 20px;
        width: calc(100% - 300px);
    }

    @media #{$desktop} {
        margin: 0;
        width: 314px;
        padding-right: 10px;
        margin-right: 10px;
    }
}

.additional__property {
    display: flex;
    justify-content: space-between;
    line-height: 14px;

    @media #{$tablet} {
        font-size: 16px;
        line-height: 20px;
        margin: 0 0 22px;
    }

    @media #{$desktop} {
        margin: 0;
    }
}

@media #{$tablet} {
    .additional__text {
        margin: 0 42px 0 0;
        min-width: 140px;
        text-align: right;
    }
}

@media #{$desktop} {
    .additional__text {
        text-align: left;
        min-width: 195px;
    }
}

@media #{$tablet} {
    .additional__value {
        margin: 0;
        min-width: 50px;
        flex-shrink: 0;
        text-align: right;
    }
}

.additional__button {
    margin-bottom: 19px;
    transform: translateY(-4px);

    @media #{$tablet} {
        margin-bottom: 10px;
    }

    @media #{$desktop} {
        margin: 0;
        width: 244px;
        margin-left: 40px;
    }
}

.additional__gift {
    position: relative;
}

.additional__gift::before {
    content: "";
    position: absolute;
    background-image: url("../../icons/stack.svg#icon-gift");
    width: 78px;
    height: 80px;
    background-size: 78px 80px;
    background-position: top top;
    top: 58px;
    left: 50%;
    transform: translateX(-50%);

    @media #{$tablet} {
        width: 80px;
        height: 83px;
        background-size: 80px 83px;
        left: 118px;
    }

    @media #{$desktop} {
        top: 56px;
        left: 50%;
        transform: translateX(-50%);
    }
}

.additional__gift-background {
    background-image: image-set(url("../../images/gift-mobile@1x.jpg") type("image/jpg"),
            url("../../images/gift-mobile@2x.jpg") type("image/jpg") 2x,
            url("../../images/gift-mobile@1x.webp") type("image/webp"),
            url("../../images/gift-mobile@2x.webp") type("image/webp") 2x),
        linear-gradient(to bottom,
            $green-gradient-secondary 290px,
            transparent 290px);
    background-repeat: no-repeat;
    background-size: cover, 100% 100%;
    background-position: center;
    margin: 35px 0;

    @media #{$tablet} {
        background-image: image-set(url("../../images/gift-tablet@1x.jpg") type("image/jpg"),
                url("../../images/gift-tablet@2x.jpg") type("image/jpg") 2x,
                url("../../images/gift-tablet@1x.webp") type("image/webp"),
                url("../../images/gift-tablet@2x.webp") type("image/webp") 2x),
            linear-gradient(to bottom,
                $green-gradient-secondary 200px,
                transparent 200px);
        background-size: cover, 100% 100%;
        background-position: top;
        margin: 70px 0 74px;
    }

    @media #{$desktop} {
        background-image: image-set(url("../../images/gift-desktop@1x.jpg") type("image/jpg"),
                url("../../images/gift-desktop@2x.jpg") type("image/jpg") 2x,
                url("../../images/gift-desktop@1x.webp") type("image/webp"),
                url("../../images/gift-desktop@2x.webp") type("image/webp") 2x),
            linear-gradient(to bottom,
                $green-gradient-secondary 288px,
                transparent 288px);
        background-size: 245px 288px, 100% 100%;
        background-position: top;
        margin-top: 0;
    }
}

.additional__gift-text {
    color: $white;
    padding: 187px 0 43px;
    margin: 0 auto;
    text-align: center;
    font-size: 16px;
    line-height: 20px;
    width: 161px;

    @media #{$tablet} {
        padding: 71px 0 69px;
        margin-right: 125px;
        text-align: start;
    }

    @media #{$desktop} {
        padding: 186px 41px 43px;
        margin: 0 auto;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 800px) {
    .news-n-sub__submit-wrapper {
        width: 85%;
        margin: 0 auto;
    }

    .news-n-sub__paragraph {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .news-n-sub__submit-wrapper {
        width: 80%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 576px) {
    .news-n-sub__submit-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .news-n-sub__paragraph {
        margin-bottom: 30px;
    }

    .news-n-sub__submit {
        width: 85%;
        text-indent: 0;
    }
}

@media screen and (max-width: 320px) {
    .news-n-sub__submit {
        font-size: 20px;
    }

    .news-n-sub__paragraph {
        width: 85%;
        margin-bottom: 30px;
        font-size: 16px;
    }
}