.button {
  background-color: $green-base;
  font-family: $font-primary;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  border: none;
  color: $white;
  padding: 10px 20px;
  text-transform: uppercase;
  width: 100%;
  cursor: pointer;
}

.button:not([disabled]):hover,
.button:not([disabled]):focus {
  background-color: $green-primary;
}

.button:not([disabled]):active {
  background-color: $green-primary;
  color: $white-gradient;
}

.button:disabled {
  opacity: 0.5;
  cursor: default;
}
