.comparator-container {
    position: relative;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    overflow: hidden;
    transform: translateX(48px);
}

.image-wrapper {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
    transform: translate(70px, -7px);
}

.image-before,
.image-after {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.image-before {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    overflow: hidden;
}

.image-after {
    display: block;
    width: 100%;
    margin-left: 44px;
}

.slider {
    position: absolute;
    top: 0;
    left: 49%;
    width: 4px;
    height: 100%;
    background-color: #666666;
    cursor: ew-resize;
    transform: translateX(-50%);
    z-index: 10;
}

.slider-handle {
    position: absolute;
    content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNDAiIGhlaWdodD0iNDAiIHZpZXdCb3g9IjAgMCA0MCA0MCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHJlY3QgeD0iMSIgeT0iMSIgd2lkdGg9IjM4IiBoZWlnaHQ9IjM4IiByeD0iMTkiIGZpbGw9IndoaXRlIi8+CjxyZWN0IHg9IjEiIHk9IjEiIHdpZHRoPSIzOCIgaGVpZ2h0PSIzOCIgcng9IjE5IiBzdHJva2U9IiM2NjY2NjYiIHN0cm9rZS13aWR0aD0iMiIvPgo8cGF0aCBkPSJNMTYgMTFMOCAyMEwxNiAyOVYxMVoiIGZpbGw9IiM2NjY2NjYiLz4KPHBhdGggZD0iTTMyIDIwTDI0IDExVjI5TDMyIDIwWiIgZmlsbD0iIzY2NjY2NiIvPgo8L3N2Zz4K");
    top: 50%;
    left: 50%;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    cursor: ew-resize;
}

.slider-handle:hover,
.slider:hover {
    transition: 0.4s ease-in-out;
    opacity: 90%;
    filter: brightness(0) saturate(100%) invert(57%) sepia(24%) saturate(1013%) hue-rotate(54deg) brightness(102%) contrast(101%);
}

.slider-handle:active,
.slider:active {
    filter: brightness(0) saturate(100%) invert(55%) sepia(59%) saturate(467%) hue-rotate(53deg) brightness(91%) contrast(100%);
}





@media screen and (max-width: 580px) {
    .image-before {
        height: auto;
        object-fit: cover;
        width: 50%;
    }
}