/* Центровочные контейнеры для различных устройств */

.container-mobile {
    width: 320px;
    margin: 0 auto;
}

.container-tablet {
    width: 706px;
    margin: 0 auto;
}

.container-desktop {
    width: 1220px;
    margin: 0 auto;
}
