.comparator-wrapper {
    display: flex;
}

@media #{$tablet-example} {
    .comparator-wrapper {
        flex-direction: column;
        margin-top: 0;
    }
}

.example {
    background-color: $grey-super-light;

    @media #{$tablet} {
        background-color: transparent;
        background-image: linear-gradient(to top,
                $grey-super-light 462px,
                transparent 462px);
    }

    @media #{$desktop} {
        background-image: linear-gradient(to top,
                $grey-super-light 461px,
                transparent 461px);
    }
}

.example__inner {
    padding: 27px 0 40px;

    @media #{$tablet} {
        padding-bottom: 101px;
    }

    @media #{$desktop} {
        position: relative;
        padding: 0;
    }
}

.example__title {
    margin-bottom: 43px;
    transform: translateY(-4px);

    @media #{$tablet} {
        border-top: 1px solid $grey-light;
        margin-left: -30px;
        margin-right: -30px;
        padding: 45px 0 0 30px;
        margin-bottom: 60px;
    }

    @media #{$desktop} {
        border: none;
        padding-top: 0;
        margin-bottom: 146px;
    }
}

.example__text {
    margin: 0;
    margin-bottom: 20px;
    transform: translateY(-3px);

    @media #{$tablet} {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 55px;
    }

    @media #{$desktop} {
        margin-bottom: 69px;
        width: 433px;
    }
}

@media #{$tablet} {
    .example__wrapper {
        display: flex;
        justify-content: space-between;
        margin-bottom: 55px;
    }

    @media #{$desktop} {
        .example__wrapper {
            flex-direction: column;
            margin-bottom: 0;
            transform: translateY(-19px);
        }
    }
}

.example__info-list {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 32px;
    flex-wrap: wrap;

    @media #{$tablet} {
        gap: 42px;
        justify-content: flex-start;
    }
}

.example__info-item {
    border: 1px solid $grey;
    border-radius: 3px;
    padding-top: 13px;
    padding-bottom: 17px;
    width: 124px;
    margin-bottom: 34px;
    position: relative;

    @media #{$tablet} {
        width: 162px;
        padding-top: 15px;
        padding-bottom: 20px;
        margin-bottom: 46px;
    }
}

.example__info-value {
    font-family: $font-primary;
    font-size: 24px;
    line-height: 1;
    color: $black;

    @media #{$tablet} {
        font-size: 30px;
        line-height: 37px;
    }
}

.example__info-text {
    font-size: 12px;
    line-height: 1;
    color: $base-text-color;
    position: absolute;
    left: 50%;
    margin: 0;
    transform: translateX(-50%);
    bottom: -15px;
    padding: 0 14px;
    background-color: $grey-super-light;

    @media #{$tablet} {
        background-color: $white;
        font-size: 14px;
        line-height: 1;
        width: max-content;
        padding: 0 9px;
        bottom: -5px;
    }

    @media #{$desktop} {
        background-color: $grey-light;
    }
}

.example__expenses {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    color: $black;
    transform: translate(2px, -10px);

    @media #{$tablet} {
        font-size: 20px;
        text-align: end;
        margin-bottom: 0;
        padding-top: 11px;
        display: flex;
        flex-direction: column;
        // transform: translateY(15px);
    }

    @media #{$desktop} {
        align-items: flex-start;
        flex-direction: row;
        padding-bottom: 36px;
    }
}

@media #{$tablet} {
    .example__expenses-value {
        margin-right: 0;
        margin-bottom: 9px;
    }
}

@media #{$desktop} {
    .example__expenses-value {
        margin-right: 66px;
        margin-bottom: 9px;
    }
}

.example__slider {
    margin: 0 auto;
}