.hero {
    background-color: $white;
    background-image: image-set(url("../../images/hero-bg-mobile@1x.jpg") type("image/jpg"),
            url("../../images/hero-bg-mobile@2x.jpg") type("image/jpg") 2x,
            url("../../images/hero-bg-mobile@1x.webp") type("image/webp"),
            url("../../images/hero-bg-mobile@2x.webp") type("image/webp") 2x),
        linear-gradient(to bottom, $green-gradient 303px, transparent 302px);
    background-repeat: no-repeat;
    background-size: 320px 302px, 100% 100%;
    background-position: center top;
    min-height: 480px;
    position: relative;

    @media #{$tablet} {
        background-image: none;
        margin-bottom: 380px;
    }

    @media #{$desktop} {
        background-image: image-set(url("../../images/hero-bg-desktop@1x.jpg") type("image/jpg"),
                url("../../images/hero-bg-desktop@2x.jpg") type("image/jpg") 2x,
                url("../../images/hero-bg-desktop@1x.webp") type("image/webp"),
                url("../../images/hero-bg-desktop@2x.webp") type("image/webp") 2x),
            linear-gradient(to left, $green-gradient 50%, transparent 50%);
        background-size: 1041px 694px, 100% 100%;
        background-position: top left calc(50% + 521px), center;
        min-height: 694px;
        bottom: 0;
        right: 0;
        margin-bottom: 82px;
    }
}

.hero__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;

    @media #{$tablet} {
        padding-top: 40px;
        padding-bottom: 0;
    }

    @media #{$desktop} {
        padding-bottom: 0;
        margin-bottom: 82px;
    }
}

.hero__inner-text-wrapper {
    animation: emergeHero 1.5s ease-in-out forwards;
}

@keyframes emergeHero {
    0% {
        opacity: 0;
        filter: blur(8px);
        transform: translateX(-120%);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(0);
    }
}

.hero__title {
    color: $white;
    padding: 26px 15px 0;
    text-align: center;
    margin: 0;
    transform: translate(-1px, -5px);

    @media #{$tablet} {
        color: $black;
        text-align: start;
        padding-top: 0;
        padding-left: 90px;
        margin-bottom: 40px;
    }

    @media #{$desktop} {
        padding: 188px 0 0 80px;
        max-width: 500px;
    }
}

.hero__text {
    font-family: $font-primary;
    font-size: 14px;
    line-height: 18px;
    color: $white;
    padding-top: 24px;
    text-align: center;
    margin: 0;
    text-transform: uppercase;
    margin-bottom: 302px;
    transform: translateY(-2px);

    @media #{$tablet} {
        color: $black;
        font-size: 20px;
        line-height: 20px;
        text-align: start;
        padding-top: 0;
        padding-left: 90px;
        margin-bottom: 50px;
    }

    @media #{$desktop} {
        padding: 0 80px;
        max-width: 450px;
        margin-bottom: 64px;
    }
}

.hero__img {
    position: absolute;
    top: 167px;
    left: 50%;
    transform: translateX(-50%);
    animation: heroPicEmerge 2s ease-in-out forwards;
    // overflow-x: hidden;


    @media (min-width: 768px) and (max-width: 1440px) {
        animation: none;
        transform: translate(-110px, 50px);
        // overflow-x: hidden;
        // width: 100%;
        // max-width: 100%;
    }

    @media screen and (max-width: 1024px) {
        // z-index: -1;
        // position: relative;
        // transform: translate(0px, 0px);
    }


    @media #{$tablet} {
        // margin: -80px auto 0;
        z-index: 1;
    }

    @media #{$desktop} {
        position: absolute;
        top: 142px;
        left: 58%;
        transform: translateX(-50%);
    }
}

@keyframes heroPicEmerge {
    0% {
        opacity: 0;
        filter: blur(8px);
        transform: translateX(40%);
    }

    100% {
        opacity: 1;
        filter: blur(0);
        transform: translateX(-56%);
    }
}

.hero__link {
    font-family: $font-primary;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    background-color: $green-base;
    color: $white;
    padding: 11px;
    padding-left: 23px;
    padding-right: 27px;
    text-transform: uppercase;
    max-width: 240px;
    display: block;


    @media screen and (max-width: 1440px) {
        margin-left: 90px;

    }

    @media screen and (max-width: 768px) {
        padding: 14px 26px;
        font-size: 20px;
        margin: 0 auto;
        line-height: 26px;
        display: flex;
        text-align: center;
        justify-content: center;

    }

    @media #{$desktop} {
        margin-left: 83px;
        transform: translate(-2px, -14px);
        height: 54px;
    }
}

.hero__link:hover,
.hero__link:focus {
    background-color: $green-primary;
}

.hero__link:active {
    background-color: $green-primary;
    color: $white-gradient;
}

.hero__link.disabled {
    pointer-events: none;
    opacity: 0.5;
}