.additional-goodies__promo {
    background-image: url(./../../images/catalog/gift-backdrop/gift-backdrop-mobile@1x.jpg);
}

/* Как прописать двойное разрешение из css или это делается как то по другому? */

/* Медиа-запросы для различных разрешений */

@media screen and (min-width: 768px) {
    .additional-goodies__promo {
        background-image: url(./../../images/catalog/gift-backdrop/gift-backdrop-tablet@1x.jpg);
    }
}

@media screen and (min-width: 1440px) {
    .additional-goodies__promo {
        background-image: url(./../../images/catalog/gift-backdrop/gift-backdrop-desktop@1x.jpg);
    }
}
