.programs {
    margin: 0;
}

.programs__list {
    margin: 0 auto;
    padding: 0;
    list-style: none;

    @media #{$desktop} {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(570px, 1fr));
        column-gap: 80px;
        margin-bottom: 29px;
    }
}

.programs__item {
    background-color: $grey-extra-light;
    margin-bottom: 18px;
    position: relative;
    padding-bottom: 21px;

    @media #{$tablet} {
        margin-bottom: 30px;
        padding-bottom: 58px;
    }

    @media #{$desktop} {
        max-width: 570px;
    }
}

.programs__item::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background-color: $green-base;
    border-radius: 50%;
    top: 24px;
    left: 21px;

    @media #{$tablet} {
        width: 200px;
        height: 200px;
        top: 88px;
        left: auto;
        right: 64px;
    }

    @media #{$desktop} {
        width: 100px;
        height: 100px;
        top: 47px;
        left: 52px;
    }
}

.programs__item--slim::after {
    content: "";
    background: url("../../icons/stack.svg#cat-slim") no-repeat center / contain;
    position: absolute;
    display: block;
    width: 41px;
    height: 55px;
    top: 21px;
    left: 27px;

    @media #{$tablet} {
        width: 140px;
        height: 194px;
        top: 90px;
        left: auto;
        right: 84px;
    }

    @media #{$desktop} {
        width: 70px;
        height: 97px;
        top: 42px;
        left: 66px;
    }
}

.programs__item--pro::after {
    content: "";
    background: url("../../icons/stack.svg#cat-pro") no-repeat center / contain;
    position: absolute;
    display: block;
    width: 67px;
    height: 28px;
    top: 35px;
    left: 13px;

    @media #{$tablet} {
        width: 268px;
        height: 112px;
        top: 135px;
        left: auto;
        right: 29px;
    }

    @media #{$desktop} {
        width: 134px;
        height: 56px;
        top: 67px;
        left: 33px;
    }
}

.programs__title {
    font-family: $font-primary;
    font-weight: 400;
    font-size: 24px;
    color: $black;
    line-height: 37px;
    padding-top: 30px;
    padding-left: 90px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 29px;

    @media #{$tablet} {
        font-size: 36px;
        line-height: 36px;
        padding-top: 74px;
        padding-left: 53px;
        margin-bottom: 22px;
    }

    @media #{$desktop} {
        padding-top: 78px;
        padding-left: 214px;
        margin-bottom: 73px;
    }
}

.programs__lead {
    margin: 0 20px 19px;
    border-bottom: 1px solid $grey-secondary;
    padding-bottom: 21px;

    @media #{$tablet} {
        font-size: 16px;
        line-height: 24px;
        color: $black;
        padding-bottom: 10px;
        margin: 0 316px 50px 53px;
        border: none;
    }

    @media #{$desktop} {
        margin: 0 38px 23px 52px;
    }
}

.programs__link {
    font-family: $font-primary;
    font-size: 16px;
    line-height: 16px;
    text-transform: uppercase;
    color: $black;
    margin: 0 20px 18px;
    cursor: pointer;
    padding-right: 50px;
    position: relative;

    @media #{$tablet} {
        margin: 0 0 53px 53px;
        font-size: 20px;
        line-height: 1;
        padding-right: 60px;
    }
}

.programs__link:active {
    opacity: 0.6;
}

.programs__link::after {
    content: "";
    position: absolute;
    display: block;
    background-image: url("../../icons/stack.svg#icon-arrow");
    background-position: -8px;
    background-repeat: no-repeat;
    width: 24px;
    height: 12px;
    top: 3px;
    right: 0;
    transform: translateY(50%);
    transition: 0.3s ease-in-out;

    @media #{$tablet} {
        top: 5px;
    }
}

.programs__link:hover::after {
    background-position: 0;
}