.promo-ad {
    height: 310px;
    max-width: 1440px;
    margin: 0 auto;
    transform: translateY(-16px);
}

.news-n-sub {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.news-n-sub__paragraph {
    font-family: "Oswald";
    font-size: 24px;
    line-height: 32px;
    font-weight: 400;
    text-align: center;
    margin: 0;
    transform: translateY(-7px);
    margin-bottom: 15px;
}

.news-n-sub__submit-button {
    background-color: $green-base;
    color: #ffffff;
    padding: 18px;
    text-transform: uppercase;
    border: 0;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.news-n-sub__submit-wrapper {
    display: flex;
    justify-content: space-between;
    height: 54px;
    width: 752px;
    transform: translate(1px, 3px);
}

.news-n-sub__submit {
    font-family: "Oswald";
    font-size: 22px;
    text-transform: uppercase;
    display: block;
    width: 495px;
    text-indent: 10px;
}

.news-n-sub__submit::placeholder {
    font-family: "Oswald";
    text-transform: uppercase;
    font-size: 18px;
}

.news-n-sub__submit:hover {
    outline: 1px solid $grey;
    z-index: 100;
}

.news-n-sub__submit:focus {
    outline: 2px solid $base-text-color;
    z-index: 100;
}

.news-n-sub__submit-button {
    width: 256px;
    padding: 12px;
    cursor: pointer;
}