.social {
    display: flex;
    justify-content: center;
    gap: 24px;
    padding: 20px 0 14px;
    width: 100%;
    border-bottom: 1px solid $grey-secondary;
    border-top: 1px solid $grey-secondary;
    list-style: none;
    transform: translate(-31px, 2px);

    @media #{$tablet} {
        border: none;
        padding: 0;
        justify-content: flex-start;
        padding-left: 66px;
        align-self: flex-end;
    }
}

.footer__logo {
    transform: translate(-1px, -1px);
}

.social__link,
.footer__logo,
.developer {

    &:hover,
    &:focus {
        filter: brightness(0) saturate(100%) invert(58%) sepia(65%) saturate(444%) hue-rotate(54deg) brightness(95%) contrast(90%);
    }

    &:active {
        opacity: 0.3;
    }

}