.wrapper-title {
    position: relative;
}

.wrapper-title::before {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 14px;
    z-index: -1;
    height: 2px;
    background-color: $green-base;

    @media #{$tablet} {
        top: 20px;
    }

    @media #{$desktop} {
        top: 29px;
    }
}